.r-yfv4eo {
    filter: blur(0px) !important;
}
.r-drfeu3 {
    display: none !important;
}

.css-175oi2r.r-yfv4eo.r-16y2uox {
  filter: blur(0px) !important;
}
..css-175oi2r.r-drfeu3.r-1p0dtai.r-eqz5dr.r-16y2uox.r-1777fci.r-1d2f490.r-779j7e.r-1w50u8q.r-u8s1d.r-zchlnj.r-ipm5af.r-1867qdf {
  display: none !important;
}
