
.media-preview-with-warning > .js-media-preview-container,
.media-preview-with-warning > [class^='media-grid'] {
  filter: blur(0px) !important;
}

.js-media.full-bleed-media-preview-with-warning > .js-media-preview-container > .js-media-image-link,
.js-media.full-bleed-media-preview-with-warning > [class^='media-grid'] {
  filter: blur(0px) !important;
}

.media-warning {
  display: none !important;
}

/* Beta版用 TwitterWeb版のCSSで適用可能っぽい */
.r-yfv4eo {
  filter: blur(0px) !important;
}
.r-drfeu3 {
  display: none !important;
}
.r-1777fci.r-1ffoksr {
  display: none !important;
}